<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My To-Do List</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>
        <header>
            <div class="header-container">
                <a href="{{ url_for('index') }}" class="header-title">My To-Do List</a>
                <div class="auth-links">
                    {% if 'user_id' in session %}
                        <a href="{{ url_for('completed_tasks') }}">Completed Tasks</a>
                        <a href="{{ url_for('change_password') }}" class="change-password-btn">Change Password</a>
                        <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
                    {% else %}
                        <a href="{{ url_for('login') }}">Login</a>
                        <a href="{{ url_for('register') }}">Register</a>
                    {% endif %}
                </div>
            </div>
        </header>

        <!-- Content block to be replaced by each specific page -->
        {% block content %}{% endblock %}

        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>

</html>
